 .u-section-1 {
  min-height: 906px;
}

.u-section-1 .u-image-1 {
  height: 937px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: -813px calc(((100% - 1140px) / 2)  + 326px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-group-1 {
  width: 320px;
  height: auto;
  --radius: 50px;
  border-style: double;
  min-height: 343px;
  margin: 180px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 27px 10px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 0 3px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 4.5rem;
  margin: 8px 3px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 320px;
  height: auto;
  --radius: 50px;
  border-style: double;
  min-height: 343px;
  margin: -443px auto 0 calc(((100% - 1140px) / 2)  + 370px);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 10px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 4.5rem;
  margin: 8px 0 0 auto;
}

.u-section-1 .u-group-3 {
  width: 320px;
  height: auto;
  --radius: 50px;
  border-style: double;
  min-height: 340px;
  margin: -223px calc(((100% - 1140px) / 2)  + 80px) 60px auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 1px;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 4.5rem;
  margin: 32px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    inset: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2)  + 126px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 940px) / 2)  + 370px);
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-right: calc(((100% - 940px) / 2) + 80px);
    margin-left: calc(((100% - 940px) / 2)  + 370px);
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 720px) / 2)  + 370px);
  }

  .u-section-1 .u-group-3 {
    margin-right: calc(((100% - 720px) / 2) + 80px);
    margin-left: calc(((100% - 720px) / 2)  + 370px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 540px) / 2)  + 220px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-3 {
    margin-right: calc(((100% - 540px) / 2) + 80px);
    margin-left: calc(((100% - 540px) / 2)  + 220px);
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 340px) / 2)  + 20px);
  }

  .u-section-1 .u-group-3 {
    margin-right: calc(((100% - 340px) / 2) + 20px);
    margin-left: calc(((100% - 340px) / 2)  + 20px);
  }
}